body {
  margin:0px;
  color: #195366;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  min-height:100%;
}
.container {
  margin: 50px;
  padding-bottom:50px;
  overflow: auto;
}
.gallery {
  overflow: auto;
}
.block {
  width: 300px;
  margin: 5px;
  border: 1px solid #33464C;
  float: left;
  margin-bottom: 100px;
  display:block;
  font-size: 0;
  background: #E5E5E5;

}
.block:hover {
  border: 1px solid #668C99;
  font-size:1em;
}
.block img {
  width: 100%;
}
.block p {
  margin: 5px;
  font-size:1em;
  display: none;
}
.block:hover p{
  display: block;
}
header {
  color: #FFFFFF;
  padding:10px;
  margin:0px;
  font-weight:bold;
  background-image: linear-gradient(to bottom right, #1BBCEE, #42D15F);
}
header ul, footer ul {
  list-style: none;
}
header ul li, footer ul li {
  display: inline;
  margin-right: 40px;
}
a {
  text-decoration: none;
  color: #195366;
}
a:hover {
  text-shadow: 1px 1px #19404C;
}
h1 {
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  margin: 50px;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #668C99;
}
footer {
  border-top: 1px solid #33464C;
  font-size: .8em;
  text-align: center;
  height: 50px;
  position:fixed;
  width:100%;
  bottom:0;
  background:white;
}
