body {
  margin:0px;
  background: #f2f2f2;
  color: #335555;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  overflow: auto;
}
.container {
  margin: 0px 50px;
  margin-top: 144px;
  min-height: 80%;
  overflow: auto;
  padding-top: 40px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
}
.block {
  width: 300px;
  margin: 5px;
  border: 2px solid #33464C;
  float: left;
  margin-bottom: 80px;
  display:block;
  font-size: 0;
}
.block:hover {
  font-size:1em;
}
.block img {
  width: 100%;
  height: 183px;
}
.block p {
  margin: 5px;
  margin-left: 10px;
  font-size:1em;
  display: none;
}
.block:hover p{
  display: block;
}
header {
  color: #f2f2f2;
  margin:0px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
  font-weight:bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-image: linear-gradient(to bottom right, #66dd87, #3bb5cc);
}
header ul {
  transition: 0.2s;
  margin: 20px;
}
header ul li, footer ul li {
  display: inline;
  margin-right: 40px;
}
header::after{
  clear:both;
}
header a {
  color: #f2f2f2;
}
a {
  text-decoration: none;
  color: #182628;
}
a:hover {
  text-shadow: 1px 1px #182628;
}
h1 {
  transition: 0.2s;
  font-size: 3.2em;
  font-family: 'Courgette', cursive;
  margin: 40px;
  margin-left: 60px;
  white-space: nowrap;
}
h2 {
  font-size: 1.8em;
  color: #182628;
  font-family: 'Courgette', cursive;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  text-decoration: none;
  text-shadow: none;
  font-family: 'Abel', sans-serif;
}
footer {
  border-top: 1px solid #182628;
  font-size: .8em;
  text-align: center;
  height: 50px;
  width:100%;
  background: #f2f2f2;
}
